html {
    scroll-padding-top: 100px;
}


body {
    font-family: Quicksand, sans-serif;
    position: relative;
}

.us img {
    object-fit: cover;
    height: 200px;
    max-width: 200px;
}
.us a {
    color:  black;
}

.section
{
    padding-bottom: 4em;
}